* {
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: 'mantiniaregular';
    src: url('mantinia_regular-webfont.woff2') format('woff2'),
         url('mantinia_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 712px;
    background-image: url("images/whalestomach.jpg");
    font-family: 'mantiniaregular';
    background-size: cover;
    background-position: center;
  }

  
  
  h1 {
      color: red;
      font-size: 10em;
  }
  
  p {
    color: white;
    font-size: 3em;
    margin: 0 5%;
  }

.annonce {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }