html,
body {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #B7E8EB 100%);
  overflow-x: hidden;
  cursor: url("images/yellowsubmarine.png"), auto;
  
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  top: 293px;
  left: 0;
  background: #015871;
 
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {

  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}

/*Ca c'était les vagues*/

.dialogue {
  width: 100%;
  position: fixed;
  height: 200px;
  background-color: #05001f;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  bottom: 0;
  opacity: 0;
  z-index: 5;
  font-size: 30px;
}

.desactive {
  opacity: 0;
}

.active {
  opacity: 1;
  overflow: hidden;
}

.locean {
  height: 13000px;
  background-color: #015871;
}

.lamer {
  position: relative;
}

.lamer {
  position: relative;

}

.lamer2 {
  position: relative;
  top: 950px;
}

.lamer3 {
  position: relative;
  top: 2350px
}

.lamer4 {
  position: relative;
  top: 4700px;
}
.lamer5{
  position: relative;
  top: 8100px;
}

.cthulhu{
  position: relative;
  top: 11500px
}

*{
    margin: 0;
    padding: 0;

}

img {
  position: absolute;
}

header {
  height: 300px;

}

.banc {

  right: 12%;
  top: 37px;
  width: 30%;
}

.bancbulle{
  opacity: 50%; 
  width: 11%;
  right: 22%;
  top: -88px;
}

.seahorse {

  right: 5%;
  top: 300px;
  width: 20%;
}

.requin1 {

  top: 312px;
  right: 35%;
}

.bullerequin1{
  opacity: 50%;
  width: 9%;
  top: 97px;
  left: 10%;
}



.requin2 {

  top: 171px;
  transform: rotateY(180deg);
  left: 5%;

}

.bullerequin2 {
  opacity: 50%;
  width: 9%;
  top: 245px;
  right: 39%;
  transform: rotateY(180deg);
}



.goblin1 {
  width: 26%;
  left: 7%;
  transform: rotateY(180deg);
  top: 516px;
}

.bullegoblin1{
  opacity: 50%;
  width: 9%;
  top: 472px;
  left: 22%;
}


.goblin2 {
  width: 26%;
  right: 6%;
  top: 650px;
}

.bullegoblin2 {
  opacity: 50%;
  width: 9%;
  top: 605px;
  right: 22%;
  transform: rotateY(180deg);
}

.goblin3 {
  width: 26%;
  right: 25%;
  top: 813px;
}

.bullegoblin3 {
  opacity: 50%;
  width: 9%;
  top: 769px;
  right: 41%;
  transform: rotateY(180deg);
}

.mosa {
  z-index: 5;
  width: 40%;
  top: 45px;
  left: 5%;
}

.bullemosa {
  opacity: 50%;
  top: 21px;
  left: 30%;
  width: 15%;
}


.eel1{
  width: 12%;
  top: 400px;
  left: 35%;
}

.bulleeel1{
  opacity: 50%;
  width: 9%;
  top:367px;
  left:35%; 
  transform: rotateY(180deg);
}

.eel2 {
  width: 12%;
  top: 450px;
  left: 50%;
}

.bulleeel2{
  opacity: 50%;
  width: 9%;
  top:417px;
  left:50%; 
  transform: rotateY(180deg);
}
.eel3 {
  width: 12%;
  top: 510px;
  left: 40%;
  transform: rotateY(180deg);
}

.bulleeel3{
  opacity: 50%;
  width: 9%;
  top:477px;
  left:43%; 
}

.eel4 {
  width: 12%;
  top: 800px;
  right: 20%;
  transform: rotateY(180deg);
}

.bulleeel4{
  opacity: 50%;
  width: 9%;
  top:767px;
  right: 20%; 
  }

.eel5 {
  width: 12%;
  top: 550px;
  right: 5%;
}

.bulleeel5{
  opacity: 50%;
  width: 9%;
  top:517px;
  right:9%; 
  transform: rotateY(180deg);
}


.fugu1 {
  top: 0px;
  right: 4%;
  width: 18%;
}

.bullefugu1 {
  opacity: 50%;
  width: 12%;
  top: -106px;
  right: 3%;
}

.fugu2 {
  top: 150px;
  right: 25%;
  width: 15%;
  transform: rotateY(180deg);
}

.bullefugu2 {
  opacity: 50%;
  width: 9%;
  top: 83px;
  right: 30%;
  transform: rotateY(180deg);
}

.fugu3 {
  top: 300px;
  right: 4%;
  width: 13%;
}

.bullefugu3 {
  opacity: 50%;
  width: 7%;
  top: 247px;
  right: 5%;
}

.fugu4 {
  top: 560px;
  left: 2%;
  width: 22%;
}

.bullefugu4 {
  opacity: 50%;
  width: 16%;
  top: 434px;
  left: 10%;
}

.fugu5 {
  top: 600px;
  right: 30%;
  width: 5%;
  transform: rotateY(180deg);
}

.jelly1 {
  top: 800px;
  left: 15%;
  width: 18%;
}

.bullejelly1 {
  opacity: 50%;
  width: 14%;
  transform: rotateX(180deg);
  top: 1288px;
  left: 11%;
}

.jelly2 {
  top: 900px;
  left: 10%;
  width: 15%;
  transform: rotateY(180deg);
  
}

.bullejelly2 {
  opacity: 50%;
  width: 14%;
  transform: rotateZ(180deg);
  top: 1287px;
  left: 22%;
}

.jelly3 {
  top: 950px;
  left: 23%;
  width: 13%;
}


.jelly4 {
  top: 1100px;
  left: 26%;
  width: 11%;
}

.jelly5 {
  top: 1100px;
  left: 16%;
  width: 9%;
  transform: rotateY(180deg);
}

.jelly6 {
  top: 1100px;
  left: 21%;
  width: 8%;
}

.jelly7 {
  top: 1150px;
  left: 10%;
  width: 8%;
  transform: rotateY(180deg);
}

.jelly8 {
  top: 1275px;
  left: 21%;
  width: 5%;
  transform: rotateY(180deg);
}

.mozob {
  top: 74px;
  right: 5%;
  width: 30%;
  z-index: 5;
}

.bullemozob {
  opacity: 50%;
  width: 14%;
  transform: rotateY(180deg);
  top: 18px;
  right: 23%;
}

.mozocourbe {
  top: 90px;
  width: 40%;
  left: 25%;
}

.bullecourbe {
  opacity: 50%;
  width: 14%;
  top: 381px;
  right: 34%;
}

.baleineraciste {
  top: 850px;
  left: 1%;
  width: 70%;
}

.bulleraciste {
  opacity: 50%;
  width: 14%;
  top: 1009px;
  left: 5%;
  transform: rotateY(180deg);
}

.loupiote {
  top: 1200px;
  right: 10%;
  width: 25%;
  z-index: 5;
}

.bulleloupiote {
  opacity: 50%;
  width: 14%;
  top: 1257px;
  right: 18%;
  transform: rotateY(180deg);
  z-index: 6;
}

.baleinecool {
  top: 1500px;
  right: 10%;
  width: 65%;
  transform: rotateY(180deg);
}

.bullecool {
  opacity: 50%;
  width: 14%;
  top: 1404px;
  right: 17%;
  z-index: 4;
}

.ampoule {
  top: 1450px;
  left: 10%;
  width: 20%;
}

.bulleampoule {
    opacity: 50%;
    width: 13%;
    top: 1434px;
    left: 21%;
  }

.monstre {
  top: 1900px;
  right: 20%;
  width: 50%;
}

.bullemonster {
  opacity: 50%;
  width: 14%;
  top: 2156px;
  left: 34%;
  transform: rotateY(180deg);
}

.rocherfrost {
  top: 190px;
  width: 43%;
  transform: rotate(317deg);
  left: -12%;
}

.frost {
  top: 20px;
  left: 2%;
  width: 25%;
}

.bullefrost {
    opacity: 50%;
    width: 8%;
    top: 103px;
    left: 17%;
  }

.rochercrab {
  top: 190px;
  right: -16%;
  transform: rotate(-19deg);
  width: 35%;
}

.crab {
  top: 260px;
  right: -5%;
  width: 25%;
  transform: rotateY(180deg);
}

.bullecrab {
  opacity: 50%;
  width: 6%;
  top: 296px;
  right: 9%;
  transform: rotateY(180deg);
}

.badeel {
  top: 769px;
  left: -5%;
  width: 70%;
  transform: rotateY(180deg);
}

.bullebad {
  opacity: 50%;
  width: 14%;
  top: 1010px;
  right: 37%;
  transform: rotateY(180deg);
}

.nonoeil {
  top: 1049px;
  right: -6%;
  width: 50%;
}

.bullenonoeil {
  opacity: 50%;
  width: 14%;
  top: 1504px;
  right: 33%;
  transform: rotateY(180deg);
}
.octopus {
  top: 1971px;
  right: -4%;
  width: 70%;
}

.bulleoctopus {
  opacity: 50%;
  width: 14%;
  top: 2075px;
  right: -3%;
  transform: rotateY(180deg);
}


.poulpe {
  top: 2633px;
  left: 5%;
  width: 60%;
}

.bullepoulpe {
  opacity: 50%;
  width: 14%;
  top: 3003px;
  left: 25%;
  transform: rotateZ(180deg);
}

.greg {
  top: 2700px;
  right: -10%;
  width: 30%;
}

.bullegreg {
  opacity: 50%;
  width: 10%;
  top: 2807px;
  right: 13%;
  transform: rotateY(180deg);
}

.metroid {
  top: 0;
  right: -20%;
  width: 85%;
}

.bullemetroid {
  opacity: 50%;
  width: 14%;
  top: 40px;
  right: 27%;
}

.rocherstremon{
    top: 281px;
    rotate: -41deg;
    left: -19%;
    width: 54%;
}

.stremon{    
  transform: rotateY(180deg);
  width: 64%;
  left: -27%;
  top: -91px;
}

.bullestremon {
    opacity: 50%;
    width: 9%;
    left: 13%;
    top: 205px;
  }

  .bullestremon2 {
    opacity: 50%;
    width: 9%;
    left: 0%;
    top: -11px;
  }

.seadramon{
    width: 72%;
    top: 1092px;
}

.bullemon {
  top: 1233px;
  opacity: 50%;
  width: 9%;
  left: 32%;
  transform: rotateY(180deg);
}

.pascool{
    top: 1299px;
    right: 41%;
}

.bullepascool {
  top: 1318px;
  opacity: 50%;
  width: 3%;
  left: 40%;
}

.kaiju{
  top: 1854px;
    width: 110%;
    left: -40%;
}

.pet {
  top: 2326px;
  width: 41%;
  right: -3%;
  transform: rotateY(180deg);
}
